<div class="header">
  
  <!--MENU-->
  <div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-opacity-25">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/home">
          <img src="/../assets/images/LogoWhite.png" alt="Logo" width="35" height="auto" class="d-inline-block align-text-top img-fluid">
          MiPortfolio
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="navbar-brand text-white" href="https://www.linkedin.com/in/jorge-reina-romero/" target="_blank">Linkedin</a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand text-white" href="https://github.com/JorgeReina" target="_blank">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div><br>

  <!--TITULO Y NOMBRE-->
  <div class="container-md">
    <div class="row justify-content-md-center">
      <div class="col-md-auto text-center">
        <img src="/../assets/images/me.jpg" alt="img" class="img-thumbnail" width="150" height="150p">
      </div>
      <div class="col">
        <!--bg-secondary bg-opacity-75 border border-secondary-subtle rounded-3-->
        <h1>Desarrollador Full Stack</h1>
        <h2>Jorge Reina Romero</h2>
        <div class="container-md">
          <p class="fs-5">
            "Desarrollador de aplicaciones multiplataforma recién graduado, con especialización en tecnologías como Angular, TypeScript, C# y ASP.NET. 
            Apasionado por crear soluciones innovadoras y eficientes, con un enfoque en el trabajo en equipo y la colaboración en entornos ágiles y dinámicos. 
            Persona responsable, comprometida con la mejora continua y en la búsqueda constante de nuevos desafíos para seguir creciendo profesionalmente."
          </p>
        </div>
        <div class="container">
          <a class="btn btn-primary cv" role="button" href="../../assets/documents/CV_Reina_Romero_Jorge.pdf" download="CV_Reina_Romero_Jorge">Descargar CV</a>
          <a class="btn btn-primary cv" role="button" href="https://www.linkedin.com/in/jorge-reina-romero/" target="_blank">Linkedin</a>
        </div>
      </div>
    </div>
  </div><br>

  

  <!--HABILIDADES-->
  <div class="container-md">
    <h2 class="text-center">Habilidades</h2>

    <h3 class="text-center">Lenguajes y Frameworks</h3><br>
    <div class="d-flex container-md justify-content-md-center flex-wrap">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" alt="TypeScript" height="auto" width="75px"/>
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" alt="JavaScript" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="Angular" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" alt="C#" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg" alt="ASP.NET" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" alt="Java" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" alt="PHP" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg" alt="Laravel" height="auto" width="75px">
    </div><br>

    <h3 class="text-center">BBDD</h3><br>
    <div class="d-flex container-md justify-content-md-center flex-wrap">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg" alt="MySQL" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" alt="SQL Server" height="auto" width="75px">
    </div><br>

    <h3 class="text-center">Control de versiones</h3><br>
    <div class="d-flex container-md justify-content-md-center flex-wrap">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" alt="Git" height="auto" width="75px">
      <img class="lg img-thumbnail" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="GitHub" height="auto" width="75px">
    </div>
  </div><br>

  <!--PROYECTOS-->
  <div class="container-md">
    <h2 class="text-center">Proyectos</h2>
    <div class="row justify-content-evenly">
      <div class="col-md-auto">
        <div class="card text-center" style="width: 18rem;">
          <img src="/../assets/images/1.jpg" alt="GoodLook">
          <div class="card-body">
            <h5>GoodLook</h5>
            <p>
              Aplicación Web que facilita y gestiona la reservas de citas
              en una peluqueria.
            </p>
            <p><b>tecnologías Front-End:</b> Angular y TypeScript</p>
            <p><b>tecnologías Back-End:</b> ASP.NET y C#</p>
            <p><b>BBDD: </b>MySQL</p>
            <a href="https://good-look.vercel.app/" target="_blank" class="btn btn-primary" role="button">Ir a la App</a>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card text-center" style="width: 18rem;">
          <img src="/../assets/images/Pokedex.png" alt="Pokedex">
          <div class="card-body">
            <h5>Pokedex</h5>
            <p>
              Aplicación Web que muestra los datos de una API externa,
              en este caso sobre: https://pokeapi.co/
           </p>
           <p><b>tecnologías Front-End:</b> Angular y TypeScript</p>
           <a href="https://jorgereina.github.io/pokedex/" target="_blank" class="btn btn-primary" role="button">Ir a la App</a>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <!--EXPERIENCIA-->
  <div class="container-md">
    <h2 class="text-center">Experiencia</h2>
    <div>
      <table>
        <tr>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2">
              <h4>Desarrollador Back-End</h4>
              <p>Marzo 2024 - Junio 2024</p>
            </div>
            <div class="col">
              <h4>PROSFY</h4>
              <p>
                Durante mis FCT como desarrollador Back-End tuve la oportunidad de aprender y desarrollar diversos endpoints para la implementacion de nuevas funciones
                para el software, pude trabajar con lenguajes como TypeScript y manejar datos en Firebase.
              </p>
            </div>
          </div>
        </tr>
        <tr>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2">
              <h4>Técnico Informático</h4>
              <p>Marzo 2022 - Junio 2022</p>
            </div>
            <div class="col">
              <h4>EMASA</h4>
              <p>
                Durante mis prácticas de grado medio pude realizar la configuración e instalación de equipos informáticos en diversas instalaciones y estuve en IT 
                con soporte informático al empleado resolviendo incidencias y ayudas.
              </p>
            </div>
          </div>
        </tr>
      </table>
    </div>
  </div>

  <!--EDUCACIÓN-->
  <div class="container-md">
    <h2 class="text-center">Educación</h2>
    <div>
      <table>
        <tr>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2">
              <h4>Desarrollador de Aplicaciones Multiplataforma</h4>
              <p>2022 - 2024</p>
            </div>
            <div class="col">
              <h4>C.P.I.F.P. Alang Turing</h4>
              <p>
                Durante mis estudios de Grado Superior pude aprender y desarrollar en diversos lenguajes actuales como TypeScript y C# y trabajar en
                FrameWorks como Angular y ASP.NET, dandome el conocimiento necesario para poder trabajar como desarrollador en el mercado laboral.
                Como la oportunidad de trabajar en equipo y en metodologias Agile y Scrum.
              </p>
            </div>
          </div>
        </tr>
        <tr>
          <div class="row justify-content-md-center">
            <div class="col col-lg-2">
              <h4>Técnico en Sistemas Microinformáticos y Redes</h4>
              <p>2020 - 2022</p>
            </div>
            <div class="col">
              <h4>I.E.S. Gerald Brenan</h4>
              <p>
                Durante los estudios de Grado Medio puede aprender a realizar la configuración e instalación de equipos informáticos y la instalación y configuración de 
                redes informáticas para las necesidades del mercado laboral.
              </p>
            </div>
          </div>
        </tr>
      </table>
    </div>
  </div>

  <!--FORMULARIO DE CONTACTO-->
  <div class="container-md form">
    <h2 class="text-center">Contacta Conmigo:</h2>
    <form class="form-floating" action="https://formspree.io/f/xovqaojk" method="POST">
      <div class="mb-3">
        <label>Nombre</label>
        <input class="form-control" type="text" name="_subject" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label>Correo Electrónico</label>
        <input class="form-control" type="email" name="_replyto" placeholder="name@ejemplo.com" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Mensaje</label>
        <textarea class="form-control" rows="3" name="message" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
  </div><br>

  <!--FOOTER-->
  <div>
    <footer class="bg-body-tertiary bg-opacity-25 py-3 ">
      <div class="d-flex container-md justify-content-md-center flex-wrap">
        <p class="cv">By reinaromerojorge&#64;gmail.com</p>
        <a class="text-white cv" href="https://www.linkedin.com/in/jorge-reina-romero/" target="_blank">Linkedin</a>
        <a class="text-white cv" href="https://github.com/JorgeReina" target="_blank">GitHub</a>
        <a class="text-white cv" role="button" href="../../assets/documents/CV_Reina_Romero_Jorge.pdf" download="CV_Reina_Romero_Jorge">Descargar CV</a>
      </div>
    </footer>
  </div>

</div>